*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 90px;
    background-image: linear-gradient(#54689a,#2d446e);

}
.header-container{
width: 1200px;
height: 150px;
margin: 0px auto;
}
.logo{
    float: left;
    width: 500px;
}
.logo-1{
    font-size: 40px;
    padding: 20px 10px;
    color: #ffff;
    font-family: sans-serif;
}
.login{
    float: left;
    width: 550px;
    margin-left: 150px;
}
.email{
    float: left;
}
.email-1{
    color: #fff;
    padding-top: 20px;
}
.input-email{
    border-radius: 4px;
}
.pass{
    margin-left: 180px;
}
.pass-1{
    color: #fff;
    padding-top: 20px;
}
.input-pass{
    border-radius: 4px;
}
.forgot{
    color:#6086c4;
    text-decoration: none;
    margin-left: 15px;
}
.btn-login{
    width: 60px;
    height: 22px;
    background-color: #436AAD;
    color: #fff;
    border-color: rgb(58, 87, 150);
    margin-left: 10px;
    border-radius: 5px;
}
.section{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(#fff,#c3c4df);
}
.section-container{
    width: 100%;
    height: 650px;
    margin:20px;
}
.img{
    float: left;
    margin-left: 99px;
    margin-top: 70px;
    width: 560px;
    height: 350px;
}
.par{
    float: left;
    color: #1d6796;
    font-size: 27px;
}
.img-1{
    float: left;
    width: 550px;
    height: 250px;
}
.h1{
    font-size: 45px;
    color: rgb(0, 0,0);
}
.p-2{
    font-size: 30px;
    color: rgb(0, 0,0);
    
}
.in-name{
    width: 220px;
    height: 30px;
    border: none;   
}
.in-name2{
    width: 220px;
    height: 30px;
    margin-left: 13px;
    border: none;
}
.in-email{
    margin-top: 15px;
    width: 450px;
    height: 30px;
    border: none;
}
.in-pass1{
    margin-top: 15px;
    width: 450px;
    height: 30px;
    border: none;
}
.in-pass2{
    margin-top: 15px;
    width: 450px;
    height: 30px;
    border: none;
}    
.Birthday{
    margin: 20px 0px 0px 0px;
    font-size: 28px;
}
.in-date{
    width: 160px;
    border: none;
    padding: 10px;
}
.Birthday-2{
    margin: 15px 20px 0px;
    font-size: 19px;
    margin-top: 10px;
    display: inline-block;
    color: #3758ac;
}
.radio{
    margin-top: 10px;
}
.male{
    margin: 20px 40px 0px 0px;
    font-size: 35px;
}
.female{
    font-size: 35px;
}
.par-0{
font-size: 15px;
margin-left: 650px;
}
.SIGN_IN{
    width: 200px;
    height: 50px;
    color: #fff;
    background-image: linear-gradient(#82c76d,#437c3f);
    border-style: hidden;
    margin-left: 650px;
}
.tt{
    border-radius: 7px;
}
.page{
    margin-left: 650px;
    padding: 10px;
 
}
a{
    text-decoration: none;
}